.Filmcard.image.img {
  object-fit: scale-down;
  margin: 20px auto;
}

.FilmShow.container.image img {
  height: 10vh;
}

.info.column{
  padding-top: 20px;
  margin-left: 50px;
}

.pagination {
  padding: 20px;
}

.card-header {
  height: 90px;
  box-shadow: none;
  margin: 10px 0 0 0;
}


.Searchbar {
  display: flex;
  flex-direction: column;
}

// .Navbar.container{
//   display: flex;
//   justify-content: space-between;
// }