@import '~bulma/bulma.sass';

	.Hero.hero-body {
		background-image: url('../images/HomeBackground.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
  }

img {
  object-fit: scale-down;
  margin: 20px auto;
}

.showcardimage {
  object-fit: scale-down;
  margin-left: 100px;
}


.SearchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.SearchForm.control{
  width: 75%;
}

.info.column{
  padding-top: 20px;
  margin: 25px, 50px;
}

.pagination {
  padding: 20px;
}

.card-header {
  height: 90px;
  box-shadow: none;
  margin: 10px 0 0 0;
}


.navbar-item, .navbar-link {
  padding: 0.5rem 2rem;
}

.search.button {
  margin-left: 50px;
  margin-top: 5px;
}
